name: CI

on:
  push:
    branches:
      - main
  pull_request:

  # Allow running manually
  workflow_dispatch:

permissions:
  contents: read
  pages: write
  id-token: write

concurrency:
  group: "pages"
  cancel-in-progress: true

defaults:
  run:
    shell: bash

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
        with:
          submodules: recursive

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.11'
          cache: 'pip'

      - run: pip install -r requirements.txt

      #- name: Setup Pages
      #  uses: actions/configure-pages@v1

      - name: Build
        run: |
          ./build.sh

      #- name: Upload artifact
      #  uses: actions/upload-pages-artifact@v1
      #  with:
      #    path: ./site

  # deploy:
  #   environment:
  #     name: github-pages
  #     url: ${{ steps.deployment.outputs.page_url }}
  #   runs-on: ubuntu-latest

  #   needs:
  #     - build

  #   if: github.ref_name == 'main'

  #   steps:
  #     - name: Deploy to GitHub Pages
  #       id: deployment
  #       uses: actions/deploy-pages@v1
